@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

$primary_color: #3d405b;
$secondary_color: #f4f1de;
$color_opt_1: #e07a5f;
$color_opt_2: #81b29a;
$color_opt_3: #f2cc8f;
$text_color: white;

.search_form_container {
  display: grid;
  grid-template-columns: repeat(0, 1fr);
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
  text-align: center;

  .head_text {
    h3 {
      font-size: 32px;
    }
  }

  input {
    margin: 25px 0;
    padding: 10px;
  }

  button {
    text-align: center;
    background-color: $color_opt_1;
    padding: 5px 20px;
    margin: 0 10px;
    color: $text_color;
    border: none;
    border-radius: 5px;
    color: $primary_color;
    font-size: 18px;
    font-weight: bold;
    &:hover {
      background-color: $color_opt_2;
    }
  }
  .ans {
    span {
      font-weight: bold;
      font-size: 24px;
    }
    padding: 20px 10px;
    margin: 35px 0;
    background-color: $color_opt_3;
    color: $primary_color;
    border-radius: 10px;
  }
}
